absl-py==2.0.0
anyio==3.7.1+computecanada
appdirs==1.4.4+computecanada
argbind==0.3.7
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
astunparse==1.6.3+computecanada
attributionpriors @ git+https://github.com/suinleelab/attributionpriors.git@487bd64842f341c918ed08121dc90718eb564789
attrs==23.1.0+computecanada
audioread==3.0.0+computecanada
backcall==0.2.0+computecanada
basic-pitch==0.2.6
beautifulsoup4==4.12.2+computecanada
bleach==6.0.0+computecanada
boto3==1.28.68
botocore==1.31.68
cached-property==1.5.2+computecanada
cachetools==5.3.2
certifi==2023.7.22+computecanada
cffi==1.14.6+computecanada
cfgv==3.3.1+computecanada
charset_normalizer==3.2.0+computecanada
click==8.1.7+computecanada
cloudpickle==2.2.1+computecanada
cycler==0.11.0+computecanada
debugpy==1.5.1+computecanada
decorator==5.1.1+computecanada
deeplake==3.0.0
defusedxml==0.7.1+computecanada
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
dill==0.3.7+computecanada
distlib==0.3.6+computecanada
docker-pycreds==0.4.0+computecanada
docstring-parser==0.15
einops==0.6.1+computecanada
entrypoints==0.4+computecanada
exceptiongroup==1.1.3+computecanada
fastjsonschema==2.18.0+computecanada
ffmpy==0.3.1
filelock==3.12.2+computecanada
fire==0.4.0+computecanada
flatbuffers==2.0.7+computecanada
flatten_dict==0.4.2+computecanada
fsspec==2023.1.0+computecanada
future==0.18.2+computecanada
gast==0.4.0+computecanada
gensim==4.0.1+computecanada
gitdb==4.0.10+computecanada
GitPython==3.1.37
google-auth==2.23.3
google-pasta==0.2.0+computecanada
google_auth_oauthlib==0.4.6+computecanada
grpcio==1.38.1+computecanada
h5py==3.4.0+computecanada
hub==3.0.1
huggingface_hub==0.16.4+computecanada
humbug==0.3.2
HyperPyYAML==1.2.2
identify==2.5.24+computecanada
idna==3.4+computecanada
importlib_metadata==6.0.0+computecanada
importlib_resources==5.12.0+computecanada
ipykernel==6.15.1+computecanada
ipython==7.34.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==8.0.7+computecanada
jedi==0.19.0+computecanada
Jinja2==3.1.2+computecanada
jmespath==1.0.1+computecanada
joblib==1.3.2+computecanada
jsonschema==4.17.3+computecanada
julius==0.2.7
jupyter==1.0.0+computecanada
jupyter-console==6.4.0+computecanada
jupyter_client==7.1.2+computecanada
jupyter_core==4.11.1+computecanada
jupyter_server==1.16.0+computecanada
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_widgets==3.0.8+computecanada
keras==2.7.0+computecanada
Keras-Preprocessing==1.1.2+computecanada
kiwisolver==1.3.1+computecanada
lazy_loader==0.3+computecanada
libclang==14.0.1+computecanada
librosa==0.10.1
llvmlite==0.36.0+computecanada
Markdown==3.4.4+computecanada
markdown2==2.4.10
markdown_it_py==2.2.0+computecanada
MarkupSafe==2.1.3
matplotlib==3.4.2+computecanada
matplotlib_inline==0.1.6+computecanada
mdurl==0.1.2+computecanada
mido==1.3.0
mir-eval==0.6+computecanada
mistune==2.0.5+computecanada
msgpack==1.0.2+computecanada
MulticoreTSNE==0.1
multiprocess==0.70.15
nbclassic==0.5.2+computecanada
nbclient==0.6.6+computecanada
nbconvert==7.2.9+computecanada
nbformat==5.7.3+computecanada
nest_asyncio==1.5.7+computecanada
nnAudio==0.3.2
nodeenv==1.8.0+computecanada
notebook==6.5.2+computecanada
notebook_shim==0.2.2+computecanada
numba==0.53.1+computecanada
numcodecs==0.8.0+computecanada
numpy==1.21.4+computecanada
oauthlib==3.2.2+computecanada
opt_einsum==3.3.0+computecanada
packaging==23.1+computecanada
pandas==1.3.5+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pathos==0.3.1
pathtools==0.1.2+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==8.4.0+computecanada
Pillow-SIMD==7.0.0.post3+computecanada
pkgutil_resolve_name==1.3.10+computecanada
platformdirs==3.10.0+computecanada
pooch==1.7.0+computecanada
pox==0.3.3
ppft==1.7.6.7
pre-commit==2.10.1+computecanada
pretty_midi==0.2.9+computecanada
prometheus_client==0.17.1+computecanada
prompt_toolkit==3.0.39+computecanada
protobuf==3.19.6
psutil==5.8.0+computecanada
ptyprocess==0.7.0+computecanada
pyasn1==0.5.0+computecanada
pyasn1_modules==0.3.0+computecanada
pybind11==2.11.1+computecanada
pycparser==2.21+computecanada
pydicom==2.4.3
Pygments==2.16.1+computecanada
PyJWT==2.8.0
pyloudnorm==0.1.1
pyparsing==3.1.1+computecanada
pyrsistent==0.18.0+computecanada
pystoi==0.3.3+computecanada
python-dateutil==2.8.2+computecanada
pytz==2023.3.post1+computecanada
PyYAML==5.4.1+computecanada
pyzmq==22.1.0+computecanada
qtconsole==5.3.2+computecanada
QtPy==2.2.0+computecanada
randomname==0.2.1
regex==2021.7.6+computecanada
requests==2.31.0+computecanada
requests_oauthlib==1.3.1+computecanada
resampy==0.4.2
rich==13.6.0
rsa==4.9+computecanada
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
s3transfer==0.7.0+computecanada
scikit_learn==1.0.1+computecanada
scipy==1.7.3+computecanada
seaborn==0.12.2+computecanada
Send2Trash==1.8.2+computecanada
sentencepiece==0.1.96+computecanada
sentry_sdk==1.31.0+computecanada
setproctitle==1.3.2
shap==0.42.1
six==1.16.0+computecanada
slicer==0.0.7+computecanada
smart-open==6.4.0
smmap==5.0.1+computecanada
sniffio==1.3.0+computecanada
soundfile==0.12.1+computecanada
soupsieve==2.4.1+computecanada
soxr==0.3.6
speechbrain==0.5.15
tensorboard==2.11.2+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorflow==2.7.0+computecanada
tensorflow_estimator==2.7.0+computecanada
tensorflow_io_gcs_filesystem==0.22.0+computecanada
termcolor==2.3.0+computecanada
terminado==0.17.1+computecanada
threadpoolctl==3.1.0+computecanada
tinycss2==1.2.1+computecanada
tokenizers==0.11.1+computecanada
toml==0.10.2+computecanada
torch==1.10.0+computecanada
torch-stoi==0.1.2
torchaudio==0.10.0+computecanada
torchmetrics==0.11.4+computecanada
torchvision==0.11.1+computecanada
tornado==6.2+computecanada
tqdm==4.66.1+computecanada
traitlets==5.9.0+computecanada
transformers==4.29.2+computecanada
typing_extensions==4.7.1+computecanada
urllib3==1.26.18
virtualenv==20.19.0+computecanada
wandb==0.15.11
wcwidth==0.2.6+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.6.1+computecanada
Werkzeug==2.2.3+computecanada
widgetsnbextension==4.0.8+computecanada
wrapt==1.16.0
zipp==3.15.0+computecanada
python_speech_features
hmmlearn
mido
midi2audio
noisereduce
music21
fluidsynth
abjad
lilypond
